.container {
  composes: centeredContainers from 'sharedStyles/styles.css';
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.slogan {
  composes: subHeader from 'sharedStyles/styles.css';
}

.link {
  composes: links from 'sharedStyles/styles.css';
}

.link:hover {
  color: #1877E6;
}

.inputFieldContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.addButton {
  background-color: #4A90E2;
  color: white;
  border: 2px solid #4A90E2;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #125FB6;
}

.roundButton {
    width:25px;
    height:25px;
    border: none;
    /*border: 2px solid #f5f5f5;*/
    border-radius: 50%;
    color:#aa0000;
    text-decoration:none;
    background: #F0F0F0;
    /*box-shadow: 0 0 3px darkred;*/
    font-size:20px;
    font-weight:bold;
}
.roundButton:hover {
    background: #ffb7b7;
    opacity: .8;
}
.roundButton:focus {
    outline-width: 0;
}
